.title{
  text-align: center;
  color: #3b4140;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
}
.alert{
  background-color: #28f9a28a;
  padding: 3px;
  margin: 0 0 15px 0;
  text-align: center;
}